button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #f15a24;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #c1481d;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #f15a24; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #f15a24;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(236, 73, 15, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", Georgia, serif;
  font-size: 1.5625em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #f15a24;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #b5441b; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

html {
  height: 100%; }

body {
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto; }

h1 {
  font-weight: 400; }

h2 {
  font-weight: 400;
  border-bottom: 2px solid #f15a24;
  padding-bottom: 10px; }

h6 {
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: .8em;
  line-height: .9em;
  color: #f15a24; }

p {
  color: #333; }

.auto-hide-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s; }

.auto-hide-header::after {
  clear: both;
  content: "";
  display: block; }

.auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }

@media only screen and (min-width: 1024px) {
  .auto-hide-header {
    height: 80px; } }

.scroll-arrow {
  position: absolute;
  color: #f15a24;
  left: 50%;
  top: 95%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.guide {
  color: #999;
  font-size: .8em; }

.full {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center; }

.dark {
  background-color: black;
  color: white; }

.centered {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  @media only screen and (min-width: 768px) {
    .centered {
      width: calc(66.6666666667% - 25px);
      float: left;
      margin-left: 15px;
      margin-left: calc(16.6666666667% - 17.5px + 30px); } }

.centered-small {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  @media only screen and (min-width: 480px) {
    .centered-small {
      width: calc(66.6666666667% - 25px);
      float: left;
      margin-left: 15px;
      margin-left: calc(16.6666666667% - 17.5px + 30px); } }
  @media only screen and (min-width: 768px) {
    .centered-small {
      width: calc(33.3333333333% - 20px);
      float: left;
      margin-left: 15px;
      margin-left: calc(33.3333333333% - 20px + 30px); } }

.orange {
  color: #f15a24; }

#p1, #p3 {
  text-align: center; }

.stories {
  min-width: 100%;
  height: 25em;
  overflow: hidden;
  cursor: move; }

.stories-content {
  padding: .5em;
  overflow-y: hidden;
  height: 30em;
  width: 100%;
  position: relative;
  white-space: nowrap; }

#stories-select {
  -ms-transform: translateX(-50%);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.clear {
  clear: both; }

.story-option-container {
  display: inline-block;
  vertical-align: top;
  width: 12em;
  padding: 1em;
  margin: 0 2em 0 2em; }

.story-option-circle {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  background-color: #f15a24; }

.story-option-circle:hover {
  background-color: #333; }

.story-label {
  white-space: normal;
  text-align: center;
  padding-top: 25px;
  font-size: .8em;
  line-height: 1.25em; }

.story-option-name {
  margin-left: -100%;
  margin-right: -100%;
  font-family: "Rubik", Trebuchet, sans-serif;
  font-size: 1.25em;
  color: #333; }

.story-option-quote {
  font-family: "Libre Baskerville", Georgia, serif;
  width: 12em;
  padding-top: 10px;
  color: #999; }

.story-option-container:hover {
  cursor: pointer;
  outline: 2px solid #f15a24;
  color: #333; }

#p2, #p4 {
  position: relative; }

#storyNameFI {
  position: absolute;
  top: 80%;
  left: 0; }

#p5 {
  position: relative; }

#storyName {
  text-align: center; }

#storyBioT {
  position: absolute;
  top: 0;
  left: 0; }

.story-section {
  color: #f15a24;
  font-size: .75em; }

.story-pre {
  color: #999;
  font-size: .75em; }

.story-quote {
  font-family: "Libre Baskerville", Georgia, serif; }

#p6 h1, #p7 h1 {
  text-align: center; }

#p8 {
  padding: 0;
  position: relative; }

.trigger {
  color: black;
  z-index: 99;
  position: absolute; }

#tMap1_p {
  top: 0;
  left: 0; }

#map1_cont {
  z-index: -99; }

.schoolLabel {
  font-size: 1.5em;
  font-family: "Rubik", Trebuchet, sans-serif;
  font-weight: 700;
  fill: #333;
  stroke-location: outside; }

.pos-prp {
  color: #f15a24; }

.pos-nnps, .pos-nnp {
  color: #999; }
