@import "neat";
@import "bourbon", "bitters/base";

// variables
$neat-grid: (
  columns: 12,
  gutter: 20px,
);

$tablet-neat-grid: (
  columns: 12,
  gutter: 15px,
  media: 768px,
);

$phone-neat-grid: (
  columns: 12,
  gutter: 15px,
  media: 480px,
);


// basics
html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}


// typography
h1 {
  font-weight: $regular;
}

h2 {
  font-weight: $regular;
  border-bottom: 2px solid $orange;
  padding-bottom: 10px;
}

h6 {
  font-family: $sansserif;
  font-size: .8em;
  line-height: .9em;
  color: $orange;
}

p {
  // font-size: 1em;
  // line-height: 1.1em;
  color: $dark-gray;
}


// header
.auto-hide-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: $medium-gray;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
@media only screen and (max-width: 1024px) {
  .auto-hide-header {
    height: 120px;
  }
}
.auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}
.auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}


.hCenter {
  font-family: $serif;
  font-weight: 400;
  font-size: 1em;
  color: $dark-gray;
}

.hLeft {
  margin-top: -5px;
}

.viewerChoice {
  font-size: .8em;
  font-family: $sansserif;
  color: $dark-gray;
  font-weight: 400;
  margin-left: 15px;
  padding-bottom: 5px;
  cursor: pointer;
}

.viewerChoice:hover {
  color: black;
}

.viewerChoice.viewerChosen {
  border-bottom: 2px solid black;
  color: black;
}


.hRight {
  font-family: $sansserif;
  font-size: .8em;
  color: $dark-gray;
  font-weight: 400;
  text-align: center;
}

.search {
  position: absolute;
  width: 35%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.searchBox {
  background: none;
  border: none;
  border-bottom: 2px solid $dark-gray;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 0 5px 0;
  margin-bottom: 0;
  box-sizing: initial;
  text-decoration: underline;
}

.searchBox:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.searchBox:hover {
  border-color: inherit;
 -webkit-box-shadow: none;
 box-shadow: none;
 outline: none;
}

.suggest {
  color: $dark-gray !important;
  position: absolute !important;
  top: 0;
  z-index: 0 !important;
}



























// scroll/section guide
.scroll-arrow {
  position: absolute;
  color: $orange;
  left: 50%;
  top: 95%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.guide {
  color: $medium-gray;
  font-size: .8em;
}


// sections
.full {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.dark {
  background-color: black;
  color: white;
}

.centered {
  @include grid-column(12);
  @include grid-media($tablet-neat-grid){
    @include grid-column(8);
    @include grid-push(2);
  }
}

.fullwidth {
  @include grid-column(12);
  text-align: center;
}

.halfwidth {
  @include grid-column(12);
  @include grid-media($tablet-neat-grid){
    @include grid-column(6);
  }
}

.thirdwidth {
  position: relative;
  text-align: center;
  // background-color: $light-gray;
  @include grid-column(12);
  @include grid-media($tablet-neat-grid){
    @include grid-column(4);
  }
}


.centered-small {
  @include grid-column(12);
  // @include grid-push(1);
  @include grid-media($phone-neat-grid){
    @include grid-column(8);
    @include grid-push(2);
  }
  @include grid-media($tablet-neat-grid){
    @include grid-column(4);
    @include grid-push(4);
  }
}

.orange {
  color: $orange;
}

// section specifics
#p1, #p3 {
  text-align: center;
}

.stories {
  min-width: 100%;
  height: 25em;
  overflow: hidden;
  cursor: move;
}

.stories-content {
  padding: .5em;
  // width: 100%;
  // overflow-x: scroll;
  overflow-y: hidden;
  height: 30em;
  width: 100%;
  position: relative;
  white-space: nowrap;
}

#stories-select {
  // float: left;
  -ms-transform: translateX(-50%);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.clear {
  clear: both;
}

.story-option-container {
  display: inline-block;
  vertical-align: top;
  width: 12em;
  padding: 1em;
  margin: 0 2em 0 2em;
}

.story-option-circle {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  background-color: $orange;
}

.story-option-circle:hover {
  background-color: $dark-gray;
}

.story-label {
white-space: normal;
  text-align: center;
  padding-top: 25px;
  font-size: .8em;
  line-height: 1.25em;
}

.story-option-name {
  margin-left: -100%;
  margin-right: -100%;
  font-family: $sansserif;
  font-size: 1.25em;
  color: $dark-gray;
}

.story-option-quote {
font-family: $serif;
  width: 12em;
  padding-top: 10px;
  color: $medium-gray;
}

.story-option-container:hover {
  cursor: pointer;
  outline: 2px solid $orange;
  color: $dark-gray;
}

#p2, #p4 {
  position: relative;
}

#storyNameFI {
  position: absolute;
  top:80%;
  left: 0;
}

#p5 {
  position: relative;
}

#storyName {
  text-align: center;
}

#storyBioT {
  position: absolute;
  top:0;
  left: 0;
}

.story-section {
  color: $orange;
  font-size: .75em;
}

.story-pre {
  color: $medium-gray;
  // font-style: italic;
  font-size: .75em;
}

.story-quote {
  font-family: $serif;
}

#p6 h1, #p7 h1 {
  text-align: center;
}

#p8 {
  padding: 0;
  position: relative;
}

// triggers
.trigger {
  color: black;
  z-index: 99;
  position: absolute;
}
#tMap1_p {
  top: 0;
  left: 0;
}

// map components
#map1_cont {
  z-index: -99;
}

.schoolLabel {
  font-size: 1.5em;
  font-family: $sansserif;
  font-weight: 700;
  fill: $dark-gray;
  // stroke: white;
  // stroke-width: .1px;
  stroke-location: outside;
}

// parts of speech
.pos-prp {
  color: $orange;
}

.pos-nnps, .pos-nnp {
  color: $medium-gray;
}
