@import "neat";
@import "bourbon", "bitters/base";

// variables
$neat-grid: (
  columns: 12,
  gutter: 20px,
);

$tablet-neat-grid: (
  columns: 12,
  gutter: 15px,
  media: 768px,
);


// basics
html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}


// typography
h1 {
  font-weight: $regular;
}

h2 {
  font-weight: $regular;
  border-bottom: 2px solid $orange;
  padding-bottom: 10px;
}

h6 {
  font-family: $sansserif;
  font-size: .8em;
  line-height: .9em;
  color: $orange;
}

p {
  // font-size: 1em;
  // line-height: 1.1em;
  color: $dark-gray;
}


// scroll/section guide
.scroll-arrow {
  position: absolute;
  color: $orange;
  left: 50%;
  top: 95%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.guide {
  color: $medium-gray;
  font-size: .8em;
}


// sections
.full {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.dark {
  background-color: black;
  color: white;
}

.centered {
  @include grid-column(12);
  @include grid-media($tablet-neat-grid){
    @include grid-column(8);
    @include grid-push(2);
  }
}

// section specifics
#p1, #p3 {
  text-align: center;
}

.stories {
  min-width: 100%;
  height: 25em;
  overflow: hidden;
  cursor: move;
}

.stories-content {
  padding: .5em;
  // width: 100%;
  // overflow-x: scroll;
  overflow-y: hidden;
  height: 30em;
  width: 100%;
  position: relative;
  white-space: nowrap;
}

#stories-select {
  float: left;

}

.clear {
  clear: both;
}

.story-option-container {
  display: inline-block;
  vertical-align: top;
  width: 12em;
  padding: 1em;
  margin: 0 2em 0 2em;
}

.story-option-circle {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  background-color: $orange;
}

.story-option-circle:hover {
  background-color: $dark-gray;
}

.story-label {
white-space: normal;
  text-align: center;
  padding-top: 25px;
  font-size: .8em;
  line-height: 1.25em;
}

.story-option-name {
  margin-left: -100%;
  margin-right: -100%;
  font-family: $serif;
  color: $dark-gray;
}

.story-option-quote {
  width: 12em;
  font-style: italic;
  padding-top: 10px;
  color: $medium-gray;
}

.story-option-container:hover {
  cursor: pointer;
  outline: 2px solid $orange;
  color: $dark-gray;
}
