/*----------------*/
/*---THE BASICS---*/

html {
    background-color: black;
    height: 100%;
}

body {
    height: 100% !important;
    background-color: black !important;
    text-align: center;
    color: white !important;
    overflow-x: hidden;
    margin: 0 auto;
}

body.disabled-onepage-scroll .onepage-wrapper section {
  min-height: 100%;
  height: auto;
}

.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
  position: relative;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 3;
}

@media (max-width: 1000px) {
  .content {
    position: relative;
    padding: 80px 0;
    top: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

/*----------*/
/*---TEXT---*/

h1 {
    font-family: "freight-text-pro", georgia, serif !important;
    text-transform: none !important;
    font-weight: 600 !important;
    font-size: 2em !important;
    letter-spacing: 0px !important;
    color: white !important;
}

h2 {
    font-family: "freight-sans-pro", trebuchet, sans-serif !important;
    text-transform: none !important;
    letter-spacing: 0px !important;
    font-weight: 500 !important;
    color: white !important;
    font-size: 1.75em !important;
}

h5 {
    font-family: "freight-sans-pro", trebuchet, sans-serif !important;
    color: #f15a24 !important;
    font-weight: 500 !important;
}

h6 {
    font-family: "freight-sans-pro", trebuchet, sans-serif !important;
    font-size: 1em;
}

p {
    text-align: left;
    font-family: "freight-text-pro", georgia, serif !important;
    font-size: 1em !important;
    line-height: 1.5em;
    font-weight: 400 !important;
}

.changeU {
    text-decoration: underline;
    color: #f15a24;
}

.change {
    text-decoration: none !important;
    color: #f15a24;
}

guide {
    font-family: "freight-sans-pro", trebuchet, sans-serif;
    font-weight: 500;
    font-size: .8em;
    color: #555555;
}

.icon {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #f15a24;
    z-index: 3;
}

.scroll-arrow {
    margin-top: 55%;
    width: 100%;
    margin-left: -100%;
    text-align: center;
    color: #f15a24;
}

/*------------------------*/
/*---LOCATION SELECTION---*/

button {
    font-family: "freight-sans-pro", trebuchet, sans-serif !important;
    text-transform: none !important;
}

.btn {
    background: none !important;
    border-bottom: 1px solid black !important;
    color: black;
    border-radius: 0px !important;
    padding-bottom: 0px !important;
    margin-left: 10px;
    margin-right: 10px;
}

.btn:focus,
.btn:active,
.btn:hover {
    outline: none !important;
    border-bottom: 1px solid #f15a24 !important;
    color: #f15a24 !important;
}





/*---------------*/
/*---THE STORY---*/

.row-guide {
    width: 100%;
    position: absolute;
    bottom: 20%;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#section1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#section1break {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    
    color: black;
    text-align: left;
}

#section1break h1 {
    color: black !important;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 2px solid #f15a24;
}

#section2 {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    
    color: black;
}

#s2arrow {
    opacity: 0;
}




#section3 {
    height: 100%;
    width: 100%;
    position: relative;
    /*align-items: center;*/
    background-color: white;
    
    display: none;
}

#map1 {
    
}

#sIntro {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 100%;
    opacity: 0;
}

.blackbox {
    background-color: rgba(0,0,0,.85);
    padding-bottom: 15px;
}






#section3break {
    position: absolute;
    top: 531%;
    left: 1%;
    width: 100%;
    display: none;
}

#section3break_text {
    position: absolute;
    
    /*top: 50%;*/
    padding: 100px 0 0 0;
}

#section4 {
    background-color: #111111;
    position: absolute;
    top: 580%;
    left: 0;
    width: 100%;
    display: none;
}

#section5 {
    position: absolute;
    /*top: 580%;*/
    left: 0;
    width: 100%;
    display: none;
}


.sYearly {
    text-align: left;
    font-size: .75em;
    min-height: 50px;
}

.sTimeline_box {
    /*position: absolute;*/
    font-size: 1.5em;
    font-family: "freight-sans-pro", trebuchet, sans-serif !important;
    text-align: left;
    padding: 0px 0 5px 10px;
    /*margin-top: 300px;*/
    /*margin-bottom: 300px;*/
    opacity: .1;
}

#sData_left {
    padding: 20px;
}

#sData_right {
    float: right;
    /*background-color: blue;*/
}



/*--------------*/
/*---TRIGGERS---*/
#sIntroFadeIN_trigger {
    position: absolute;
    left: 0px;
    top: 100%;
}
#sIntroFadeOUT_trigger {
    position: absolute;
    left: 0px;
    top: 150%;
}
#sMapZoomIN_trigger {
    position: absolute;
    left: 0px;
    top: 200%;
}


/*-------------------*/
/*---VISUALIZATION---*/
.tick text {
    font-family: "freight-sans-pro", trebuchet, sans-serif !important;
    fill: white;
}

.tick line {
    stroke: white
}

.xAxis line, .xAxis path {
    stroke: white;
}

.yAxis line, .yAxis path {
    stroke: white;
}



/*-------------------------*/
/*---LEAFLET ADJUSTMENTS---*/
.leaflet-zoom-anim .leaflet-zoom-animated {
	-webkit-transition: -webkit-transform 10s cubic-bezier(0,0,0.25,1);
	   -moz-transition:    -moz-transform 10s cubic-bezier(0,0,0.25,1);
	     -o-transition:      -o-transform 10s cubic-bezier(0,0,0.25,1);
	        transition:         transform 10s cubic-bezier(0,0,0.25,1);
}